<add key="documentation/Umbraco-Cloud/Troubleshooting/Content-Deploy-Schema" value="/documentation/Umbraco-Cloud/Troubleshooting/Deployments/Schema-mismatches" />
<add key="documentation/Umbraco-Cloud/Troubleshooting/Content-Deploy-Schema/Remote/" value="/documentation/Umbraco-Cloud/Troubleshooting/Deployments/Schema-mismatches" />
<add key="documentation/Umbraco-Cloud/Troubleshooting/Content-Deploy-Schema/Local/" value="/documentation/Umbraco-Cloud/Troubleshooting/Deployments/Schema-mismatches" />
<add key="documentation/Umbraco-Cloud/Troubleshooting/Content-Deploy-Error/" value="/documentation/Umbraco-Cloud/Troubleshooting/Deployments" />
<add key="documentation/Umbraco-Cloud/Troubleshooting/Structure-Error/" value="/documentation/Umbraco-Cloud/Troubleshooting/Deployments/Structure-Error" />
<add key="documentation/Umbraco-Cloud/Troubleshooting/Duplicate-Dictionary-Items/" value="/documentation/Umbraco-Cloud/Troubleshooting/Deployments/Duplicate-Dictionary-Items" />
<add key="documentation/Umbraco-Cloud/Troubleshooting/Plugins-Known-Issues/" value="/documentation/Umbraco-Cloud/Troubleshooting/FAQ" />