@inherits umbraco.MacroEngines.DynamicNodeContext

@*
  Macro Parameters To Create
  Show:True   Alias:contenType Name:Document Type Type:Textstring
*@

@{
    
@*Build a query and return the visible items *@
string query= "NodeTypeAlias == \"" + Parameter.contentType + "\"";
var selection= Model.Children.Where(query).Where("Visible");
}

@*Determine if there are any nodes in the selection, then render list *@
@if(selection.Any()){
   <ul>
     @foreach(var page in selection){                
       <li><a href="@page.Url">@page.Name</a></li> 
     }                 
   </ul>             
}

